body {
    background: black;
    background: linear-gradient(180deg, rgba(4,13,24,1) 6%, rgba(6,20,36,1) 51%, rgba(9,33,60,1) 100%);
    /* background-size: cover; */
    margin: 0;
    opacity: 1;
}
